
{{>layouts/hospital-header}}
<div id="wrap">

    <li class="nav-item dropdown float-l">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            행정구역별 구분
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">서울시</a></li>
            <li><a class="dropdown-item" href="#">경기도</a></li>
            <li><a class="dropdown-item" href="#">제주시</a></li>
        </ul>
    </li>

    <!--search-->
    <form class="d-flex width-250 search" role="search" action="/hospital/search" , method="get">
        <input class="form-control me-2" type="search" placeholder="키워드를 입력해 주세요" aria-label="Search"
               name="keyword" value="">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <!--search-->

    <!--list table-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">병원명</th>
            <th scope="col">도로명주소</th>
            <th scope="col">총면적</th>
        </tr>
        </thead>
        <tbody>
        {{#listPaging}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/hospital/review?hospital-id={{id}}&hospital-name={{hospitalName}}">{{hospitalName}}</a></td>
            <td>{{roadNameAddress}}</td>
            <td>{{totalAreaSize}}</td>
        </tr>
        {{/listPaging}}
        </tbody>
    </table>
    <!--list table-->

    <!--pagination-->
    <nav aria-label="Page navigation example" style="margin-right: 500px">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" href="/hospital?page={{previous}}">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/hospital?page={{next}}">Next</a>
            </li>
        </ul>
    </nav>
    <!--pagination-->
</div>
{{>layouts/footer}}
