
{{>layouts/header}}
<div id="wrap">

    <!--list table-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">병원명</th>
            <th scope="col">도로명주소</th>
            <th scope="col">총면적</th>
        </tr>
        </thead>
        <tbody>
        {{#listPaging}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{hospitalName}}</td>
            <td>{{roadNameAddress}}</td>
            <td>{{totalAreaSize}}</td>
        </tr>
        {{/listPaging}}
        </tbody>
    </table>
    <!--list table-->

    <!--pagination-->
    <nav aria-label="Page navigation example" style="margin-right: 500px">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link" href="/hospital?page={{previous}}">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/hospital?page={{next}}">Next</a>
            </li>
        </ul>
    </nav>
    <!--pagination-->
</div>
{{>layouts/footer}}
