{{>layouts/hospital-header}}
<div id="wrap">
    <!--리뷰 등록 폼-->
    <form action="/hospital/review" method="post">
        <div id="review-form">
            <h2>{{name}}의 리뷰를 작성해 주세요</h2>
                <input type="hidden" name="hospitalId" value="{{id}}">
                <input type="hidden" name="userName" value="seoyun"> <!--todo: username 변수 변경-->
                <!--title-->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="title" value="">
                </div>
                <!--title-->

                <div class="form-floating clearfix">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="comment"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                    <button id="review-btn" class="btn btn-primary" type="submit">리뷰 등록</button>
                </div>
        </div>
    </form>
    <!--리뷰 등록 폼-->

    <!--리뷰 리스트-->

    <table class="table">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">작성자</th>
            {{#reviewListAndTotalCnt}}
            <th scope="col">리뷰(total:{{reviewTotalCnt}}개)</th>
            {{/reviewListAndTotalCnt}}
        </tr>
        </thead>
        <tbody>
        {{#reviewListAndTotalCnt.reviewList}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{userName}}</td>
            <td>{{comment}}</td>
        </tr>
        </tbody>
        {{/reviewListAndTotalCnt.reviewList}}
    </table>

    {{^reviewListAndTotalCnt.reviewList}}
        <div>
            작성된 리뷰가 존재하지 않습니다
        </div>
    {{/reviewListAndTotalCnt.reviewList}}
    <!--리뷰 리스트-->

</div>
{{>layouts/footer}}