{{>layouts/hospital-header}}
<div id="wrap">
    <!--search-->
    <form class="d-flex width-250 search" role="search" action="/hospital/search" , method="get">
        <input class="form-control me-2" type="search" placeholder="키워드를 입력해 주세요" aria-label="Search"
               name="keyword" value="">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <!--search-->

    <!--list table-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">병원명</th>
            <th scope="col">구분</th>
            <th scope="col">영업상태</th>
            <th scope="col">입원실 수</th>
        </tr>
        </thead>
        <tbody>
        {{#listPaging}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{hospitalName}}</td>
                <td>{{businessTypeName}}</td>
                <td>{{businessStatus}}</td>
                <td>{{patientRoomCnt}}</td>
            </tr>
        {{/listPaging}}
        </tbody>
    </table>
    <!--list table-->

    <!--pagination-->
    <nav aria-label="Page navigation example" style="margin-right: 500px">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link" href="/hospital/search?page={{previous}}">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/hospital/search?page={{next}}">Next</a>
            </li>
        </ul>
    </nav>
    <!--pagination-->
</div>
{{>layouts/footer}}