
    <div id="wrap">
    {{>layouts/header}}
        {{#getContents}}
        <form class="container" action="/articles/update" method="post">
            <input type="hidden" name="id" value="{{id}}">

            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input id="title" type="text" class="form-control" name="title" value="{{title}}">
            </div>

            <div class="mb-3">
                <label for="contents" class="form-label">내용</label>
                <textarea id="contents" class="form-control" rows="3" name="contents">{{contents}}</textarea>
            </div>

            <button type="submit" class="btn btn-warning">Submit</button>
            <button type="button" class="btn btn-secondary">back</button>
        </form>
        {{/getContents}}
    {{>layouts/footer}}
    </div>



