{{>layouts/article-header}}
<div id="wrap">
    <!--테이블 & 페이징-->
    <div style="text-align: center">
        {{#articleList}}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">제목</th>
                <th scope="col">내용</th>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row">{{id}}</th>
                    <td><a href="/articles/{{id}}">{{title}}</a></td>
                    <td>{{contents}}</td>
                    <td>
                        <form action="/articles/{{id}}/edit" method="get">
                            <button type="submit" class="btn btn-outline-primary btn-sm">UPDATE</button>
                        </form>
                    </td>
                    <td>
                        <form action="/articles/{{id}}/delete" method="get">
                            <button type="submit" class="btn btn-outline-danger btn-sm">DELETE</button>
                        </form>
                    </td>
                </tr>
            </tbody>
            {{/articleList}}

            {{^articleList}}
                <div id="empty-contents" class="p-b-50">
                    <p>등록된 게시물이 없습니다 ! :-)</p>
                </div>
            {{/articleList}}
        </table>

        <!--페이징-->
        <!--<nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>-->
    </div>
    <!--테이블 & 페이징-->

    <!--글쓰기 버튼-->
    <div class="d-grid gap-2">
        <button class="btn btn-warning" type="button" onclick="location.href='/articles/new'">글쓰기</button>
    </div>


</div>
{{>layouts/footer}}